#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS Instead of upgrade
install
# Use ISO installation media
# Use text install
text
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=192.168.3.2 --ip=192.168.3.176 --nameserver=192.168.50.1 --netmask=255.255.255.0 --onboot=on --ipv6=auto --no-activate
network  --bootproto=dhcp --device=ens37 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$VkfyuNmTNIfpIgrl$1fYlm7DiHaS81pn/.U22dhwI3.nLBlPks.w1AEuxOnpVNBK15KcYcpXqcHn80VJvm4Vrvd3YQkoQO1w8RVPhO0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=centos --password=$6$YjZzRYcz.02BG80r$QN9JW/LSnS4rYZ1aiDNGATzS4.ol1bSWZxA5gPyJgodDJdI7iLA00/GgKpOsTMwgNIgdIAfF246/CO38gWzLl0 --iscrypted --gecos="centos"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=500
part pv.198 --fstype="lvmpv" --ondisk=sda --size=30099
volgroup centos --pesize=4096 pv.198
logvol /var/log  --fstype="xfs" --size=5120 --name=var_log --vgname=centos
logvol /home  --fstype="xfs" --size=5120 --name=home --vgname=centos
logvol /var/log/audit  --fstype="xfs" --size=5120 --name=var_log_audit --vgname=centos
logvol /var  --fstype="xfs" --size=4611 --name=var --vgname=centos
logvol /  --fstype="xfs" --size=5120 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
